@import "fonts";
@import "vars";
@import "normalize";
@import "libs";
@import "global";

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 32px;
}

.quantity {
  color: #444444;
}

.select {
  appearance: none;
  padding: 7px 40px 7px 12px;
  font-size: 14px;
  border: 1px solid #dfdfdf;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-color: transparent;
  &:focus-visible {
    outline: 2px solid #000;
    outline-offset: -2px;
  }
}

.pageContentWrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 25px;
  margin-top: 70px;
}

.fade-in-enter {
  opacity: 0;
}
.fade-in-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}
.fade-in-exit {
  opacity: 1;
}
.fade-in-exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}

@import "media";
