@import "fonts";
@import "vars";
@import "normalize";
@import "libs";
@import "global";

.info {
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@import "media";
