.btn {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  width: 40px;
  height: 40px;
  transition: background-color 0.15s ease-in-out, background-image 0.1s;
  &:hover {
    background-color: #ebebeb;
  }
}

.wish {
  background-image: url("../../../images/icons/heart.svg");
  &.active {
    background-image: url("../../../images/icons/heart-filled.svg");
  }
}

.cart {
  background-image: url("../../../images/icons/cart-plus.svg");
  &.active {
    background-image: url("../../../images/icons/cart-filled.svg");
  }
}
