.header {
  padding: 15px 0;
  border-bottom: 1px solid #dfdfdf;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  height: 43px;
}

.right {
  display: flex;
  align-items: center;
}

.rightItem {
  position: relative;
  &:not(:last-child) {
    margin-right: 12px;
  }
}

.icon {
  display: block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
  &:hover {
    opacity: 0.6;
  }
}

.cart {
  position: relative;
  background-image: url("../../../images/icons/cart.svg");
  &::before {
    content: attr(data-qty);
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
  }
}

.wish {
  background-image: url("../../../images/icons/heart.svg");
}

.user {
  background-image: url("../../../images/icons/user.svg");
}
