.header {
  padding: 15px 0;
  border-bottom: 1px solid #dfdfdf;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  & > li {
    position: relative;
  }
  & > li:not(:last-child) {
    margin-right: 15px;
  }
}

.icon {
  display: block;
  padding: 10px;
}

.cart {
  position: relative;
  &::before {
    content: attr(data-qty);
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
  }
}
