.icon {
  background-image: url("../../../images/icons/heart-broken.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}
